<%- include('../header') -%>

    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">شارژ حساب</h2>

    <% 
        let serverError='';

        errors.forEach(err=> {
            if (err.param === 'server') {
                serverError = err.msg;
            }
        }) 
    %>
  
    <% if (serverError.length) { %>
        <p class="mb-4 text-xs text-red-600 dark:text-red-400 mt-1">
            <%= serverError %>
        </p>
    <% } %>

    <form action="/dashboard/pay" method="POST">
        <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">پلن</span>
                <select name="plan"
                    class="block w-full mt-2 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
                    <% for (const plan of plans) { %>
                        <option value="<%= plan._id %>">
                            <%= plan.title %>
                        </option>
                        <% } %>
                </select>

                <div class="text-gray-700 dark:text-gray-400">
                    <ul>
                        <% for (const plan of plans) { %>
                            <li class="mt-2">
                                <% if (plan.discountedPrice) { %>
                                    <span style="text-decoration: line-through;">
                                        <%= plan.price %> تومان
                                    </span> - <%= plan.discountedPrice %> تومان
                                        <% } else { %>
                                            <%= plan.price %> تومان
                                                <% } %>
                            </li>
                            <% } %>
                    </ul>
                </div>
            </label>

            <button type="submit"
                class="mt-4 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                پرداخت
            </button>
        </div>
    </form>


    <%- include('../footer') -%>